.btn {
    font-family: "Raleway";
    background: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3b3ae6;
}
body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #F5F8FF;
    max-width: 1440px;
}

/* Style for banner */

header {
    background-image: url(images/Hero-bg.png);
    /* background-size: cover; */
    background-position: center;
    width: 1440px; height: 698px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px  150px;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
}


.hero-title {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 158px;

}

.hero {
    text-align: center;
    margin-bottom: 200px;
}

.cta {
    margin-bottom: 158px;
}

/* Style for Action  */
.action {
    display: flex;
    gap : 220px;
    justify-content: space-around;
    align-items: center;
    padding: 115px 160px 115px 160px; ;
    max-width: 100%;
     
}
.action-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
     
}
.action-text {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #25243272;
    margin: 23px 0;
}
.action-image img {
    width: 400px;
    height: 325px;
    border-radius: 30px;
}

/* User Section */

.user{
  text-align: center;
    height: 306px;
    max-width: 1140px ;
    margin: 50px auto;
    background-color: #4d47ff0f;
    border-radius: 20px;
}
.users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 50px 0; */
}
.users-title{
    font-size: 38px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    padding: 50px 0 0 0;
}
h3 {
    font-size: 80px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    margin: 0 auto;
}
.user-type {
    font-size: 20px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #00000076;
    margin: 0 auto;
}

/* Review Section */
.reviews-section {
    text-align: center;
    margin: 50px auto;
    max-width: 1140px;
    height: 50px;
    padding: 50px 0;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
h1{
    font-weight: bold ;
    font-size: 42px;
}
.review-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 24px ;
  height: 200px;
  text-align: left;
}
.review-card h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
  
}
.stars {
  color: #ffc107;
  margin-bottom: 10px;
}
.avatar{
    border-radius: 50%;
}
.review-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;}

.reviewer-info {
    margin-left: 15px;
    /* margin-top: 10px;    */
}
.reviewer-info p {
  font-size: 16px;
  color: #999;
  margin: 5px 0 0;
}